$blue: hsl(212, 45%, 89%);

body{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: Outfit, sans-serif;
  background-color: $blue;
}

.container{
  height: 470px;
  width: calc(18rem + 30px);
  padding-top: 16px;
  margin: 100px auto;
  text-align: center;
  // padding:10px;
  border-radius: 25px;
  background-color: white;
  box-shadow: 0px 02px 30px hsl(219, 31%, 77%);
}

img{
  width: 18rem;
  border-radius: 12px;
}

h3{
  font-weight: 700;
  padding: 5px 35px;
  line-height: 25px;
/*   letter-spacing: .6px;
 */  font-size: 18px;
  color: hsl(218, 44%, 22%);
  text-shadow: 1px 1px 5px lightgray;
    
}

p{
  font-size: 16px;
  padding: 0 25px;
  color: hsl(210, 5%, 59%);
  text-shadow: 1px 1px 5px lightgray;
  font-weight: 400;
}
