$blue: hsl(212, 45%, 89%);

body{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: Outfit, sans-serif;
  background-color: $blue;
}

.container{
  height: 470px;
  width: calc(18rem + 30px);
  padding-top: 16px;
  margin: 100px auto;
  text-align: center;
  // padding:10px;
  border-radius: 25px;
  background-color: white;
  box-shadow: 0px 02px 30px hsl(219, 31%, 77%);
}

img{
  width: 18rem;
  border-radius: 12px;
}

h3{
  font-weight: 700;
  padding: 5px 35px;
  line-height: 25px;
/*   letter-spacing: .6px;
 */  font-size: 18px;
  color: hsl(218, 44%, 22%);
  text-shadow: 1px 1px 5px lightgray;
    
}

p{
  font-size: 16px;
  padding: 0 25px;
  color: hsl(210, 5%, 59%);
  text-shadow: 1px 1px 5px lightgray;
  font-weight: 400;
}
// main{
//   background: $blue;
//   font-family: Outfit, sans-serif;
//   font-weight: 700;
//   display: flex;
//   flex-direction: column;
//   justify-content: center;
//   align-items: center;
//   min-height: 100vh;
//   width: 400px;
// }

// .qrcode-challenge{
//   background-color: white;
//   padding: 1rem;
//   border-radius: 20px;
//   width: 100%;
//   max-width: 21.1%;
//   box-shadow: 0px 02px 30px hsl(219, 31%, 77%);
  

//   & .qrcode{
//     box-sizing: border-box;


//     & img{
//       border-radius: 12px;
//       width: 18rem;
//       height: 18rem;
//       max-width: 100%;
//     }

//   }

//   & .content-description{
//     text-align: center;
//     width: 100%;
//     max-width: 100%;
//     overflow: hidden;
  
//     & h3{
//       padding: 13px;
//       font-size:  1.2rem;
//       text-shadow: 0px 0px 1.6px grey;
//       overflow: hidden;
//       // width: 90%;
//       // min-width: 50%;
//       // max-width: 100%;
//     }

//     & p{
//       padding: 1px 0.75rem;
//       // width: 90%;
//       // max-width: 100%;
//       font-size: 1rem;
//       font-weight: 400;
//       color: hsl(220, 3%, 58%);
//       text-shadow: 0px 0px 0.9px grey;
//       overflow: hidden;
//     }
//   }
// }

// p{
//   font-size: 30px ;
// }

// @media screen and (max-width=375px) {

//   body{
//     background-color: red;
//   }
// }
